.struck {
    filter: grayscale(100%);
    opacity: 0.5;
}

.counterpick {
    outline-color: gold;
}

img {
    width: 20%;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px; 
    outline: 2px solid mediumseagreen; 
    outline-offset: 2px;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}